

<div class="wrapper sylib_cropper_webuploader ">
	<link href="<%=url_resources_cdn %>webuploader.css" rel="stylesheet" />
	
	<div class="uploader-container">
		<div id="filePicker">选择文件</div>
	</div>
	
	<div class="cropper-wraper webuploader-element-invisible">
		<div class="img-container">
			<img src="" alt="" />
		</div>
		<div class="upload-btn">上传所选区域</div>
		<div class="img-preview"></div>
	</div>
</div>


<style>
	
</style>