<style>
	<%=target %> .help-block {
		color: #CCE1F5;
	}
	<%=target %> label {
		color: white;
	}
	<%=target %> textarea {
		resize : none;
	}
	<%=target %> .img_item img {
		max-height : 100%;
		max-width : 100%;
		vertical-align: middle;
		margin-top: -3px;
	}
	<%=target %> .img_item .item {
		width: 100px;
		height: 100px;
		text-align: center;
		vertical-align: middle;
		line-height: 100px;
		background: rgba(167, 167, 167, 0.40);
		border: 1px rgba(0, 0, 0, 0.40) solid;
		cursor: pointer;
		position: relative;
	}
	<%=target %> .img_item .loading {
		width: 100%;
		height: 100%;
		position: absolute;
		top: 0px;
		background-color: rgba(130, 130, 130, 0.47);
		display: block;
	}
	<%=target %> .img_item .error {
		width: 100%;
		height: 100%;
		position: absolute;
		top: 0px;
		background-color: rgba(130, 130, 130, 0.47);
		color: red;
		font-size: 30px;
		display: none;
	}
	<%=target %> .img_item .toolbar {
		width: 20px;
    height: 20px;
    display: block;
    position: absolute;
    right: 0px;
    top: 0px;
    color: red;
		line-height:20px !important;
	}
	<%=target %> .img_item {
		-moz-user-select:none;/*火狐*/
		-webkit-user-select:none;/*webkit浏览器*/
		-ms-user-select:none;/*IE10*/
		-khtml-user-select:none;/*早期浏览器*/
		user-select:none;
		margin: 10px 0px;
	}
</style>
<div class="row imglist" >
</div>









