

<div class="main980 margin_top10 sylib_cropperbox">

<!-- 
	<link href="<%=url_resources_cdn %>css/cropperbox.css" rel="stylesheet" />
-->
	
	<div class="docs-preview clearfix">
		<div class="img-preview preview-lg"></div>
		<div class="img-preview preview-md"></div>
		<div class="img-preview preview-sm"></div>
		<div class="img-preview preview-xs"></div>
	</div>
	<style>
		.docs-preview {
			margin-right: -15px;
			margin-bottom: 10px;
			box-sizing: border-box;
			display: table;
		}
		.img-preview {
			float: left;
			margin-right: 10px;
			margin-bottom: 10px
			box-sizing: border-box;
			display: table;
		}
		.img-preview>img {
			max-width: 100%
		}
		.preview-lg {
			width: 263px;
			height: 148px
		}
		.preview-md {
			width: 139px;
			height: 78px
		}
		.preview-sm {
			width: 69px;
			height: 39px
		}
		.preview-xs {
			width: 35px;
			height: 20px;
			margin-right: 0
		}
		.clearfix {
			  clear: both;
		}
	</style>
	
    <div class="geren_titx">
        <div class="geren_tone"><div class="xian"></div>照片上传</div>
        <div class="clear"></div>
    </div>
     <div class="geren_connr2">
        <div class="geren_connrpad">
			<div class="geren_xxlogoqy">
				<div>
					<a href="#" class="bendi_upload">
						<i class="bendiico btn_upload"  ></i>本地上传
						<input class="avatar-input btn_upload" id="avatarInput" name="avatar_file" type="file">
					</a> 
					&nbsp;
					<a href="#" class="bendi_weixin">
						<i class="weixinup"></i>微信扫一扫上传
					</a>
				</div>
				<!-- 
				<div class="qiye_wxsao">
					<div class="qiye_wxsaon">
						<img src="<%=url_resources_cdn %>images/c10.jpg" />
					</div>
					<p class="huizi" style="padding-top:8px; font-weight:bold;">微信扫一扫上传</p>
					<div class="qiye_wxclose"></div>
				</div>
				-->
				<div class="geren_zzlogow fl">
					<div class="geren_xxlogogai">
						<div class="avatar-wrapper"></div>
						<div>
						<img src="<%=url_resources_cdn %>images/c9.jpg" class="cropperbox_target" /></div>
						<span></span>
					</div>
					<p class="hongzits">按住鼠标左键拖拽出你满意的区域</p>
				</div>
                 
				<div class="geren_xxxq fl">
					<div class="geren_logoctl">
						<div class="geren_xxlogox avatar-preview  preview-lg" >
							<!-- 
							<img src="<%=url_resources_cdn %>images/c9.jpg" />
							<span></span>
							-->
						</div>
						<div class="geren_xxlogowenzi">
							大尺寸：250*250像素<br />(自动生成)
						</div>
					</div>
					<div class="geren_logoctx">
						<div class="geren_logoctxt avatar-preview  preview-sm" >
							<!-- 
							<img src="<%=url_resources_cdn %>images/c9.jpg" class="" />
							<span></span>
							-->
						</div>
						<div class="geren_xxlogowenzi">
							小尺寸：70*70像素<br />(自动生成)
						</div>
					</div>
					<div class="clear"></div>
					<p style="text-align:center; padding-top:10px;">
						<a class="but_bc">保存</a>
						<a class="but_qvxiao margin_lf15">取消</a>
					</p>
				</div>
                 
				<div class="clear"></div>
                 
			</div>
            
        </div>
    </div>
</div>