<!--top顶部文件-->
<div class="panel top" >
    <!--logo区域-->
    <div class="topdb">
       <div class="topdbn">
            <table width="100%" border="0" cellspacing="0" cellpadding="0" class="tabb_top">
              <tr>
                <td class="logo"><img src="<%=path_logo %>" /></td>
                <td align="right" valign="bottom">
					<p style="padding-bottom:2px; padding-right:10px;">欢迎您！<span class="red"><%=val_loginuser %></span></p>
				</td>
                <td width="140" align="center" style="padding-right:10px;">
					<!-- 导航菜单 -->
					<% for (var index_m=0; index_m<data_menus.navbarmenu.length; index_m++) { var m = data_menus.navbarmenu[index_m]; %>
                    <div class="margnl fr">
                        <a href="<%=data_menus.navbarmenu[index_m].linkurl %>" >
							<img src="<%=path_resbase %><%=data_menus.navbarmenu[index_m].icon %>"  height="28" class="tuichu" />
                        <p><%=data_menus.navbarmenu[index_m].name %></p>
                        </a>
                    </div>
					<% } %> <!-- /导航菜单 -->
                </td>
              </tr>
            </table>
       </div>
    </div>
    
    <!--顶部导航区-->
    <div class="daohang">
        <div class="daohangn">
            <div class="dhl fl">
                <ul>
					<% for (var index_menu1=0; index_menu1<data_menus.menus.length; index_menu1++) { var menu1 = data_menus.menus[index_menu1]; %>
                    <li  class="" index_menu1="<%=index_menu1 %>" >
                        <a href="<%=menu1.linkurl %>" clientevent="<%=menu1.clientevent %>" class="menuitem menu1" >
							<table border="0" cellspacing="0" cellpadding="0" class="dhtab">
                              <tr>
                                <td class="tdlf">&nbsp;</td>
                                <td class="tdmid"><%=menu1.name %></td>
                                <td class="tdrg">&nbsp;</td>
                              </tr>
                            </table>
                         </a>

                    </li>
					<% } %>
                </ul>
                
            </div>
            <div class="fr frcenter_search">
				<div class="searchw">
					<div class="search">
						<div class="fl">
							<div class="ss"></div>
						</div>
						<input name="" type="text" class="fl input_ss frcenter_search_input" />
						<div class="clear"></div>
					</div>
					<div class="searlb frcenter_search_result" style="display:none;" >
						<div class="searlbn" >
							<ul>
							</ul>
                        </div>
                    </div>
				</div>
            </div>
            <div class="clear"></div>
        </div>
    </div>
    
    
    
</div>
<!--top顶部文件结束-->


<!--左边菜单开始-->
<div class="panel left">
	
	<% for (var index_menu1=0; index_menu1<data_menus.menus.length; index_menu1++) { var menu1 = data_menus.menus[index_menu1]; %>
    <div class="lfcon menu1group menu1group_<%=index_menu1 %>" style="display:none;" index_menu1="<%=index_menu1 %>" >
        <div class="left_menu">
            <dl>
				<% for (var index_menu2=0; index_menu2<menu1.menus.length; index_menu2++) { var menu2 = menu1.menus[index_menu2]; %>
                <dd class="ddhover <% if (pageurl==menu2.linkurl || (menu2.match && regexMatch(pageurl, menu2.match)) ) { %>lihover menuaction<% } %>">
                    <a class="h1a menuitem menu2 <%=menu2.class %>"  match="<%=menu2.match %>"
					<% if (!menu2.menus || menu2.menus.length <= 0) { %>href="<%=menu2.linkurl %>"<% } %> >
						<h1><%=menu2.name %></h1>
					</a>
					<% if (menu2.menus && menu2.menus.length > 0) { %>
                    <ul>
						<% for (var index_menu3=0; index_menu3<menu2.menus.length; index_menu3++) { var menu3 = menu2.menus[index_menu3]; %>
                        <li class="<% if (pageurl==menu3.linkurl || (menu3.match && regexMatch(pageurl, menu3.match)) ) { %>lihover menuaction<% } %>" >
							<a href="<%=menu3.linkurl %>" clientevent="<%=menu3.clientevent %>" class="menuitem menu3" match="<%=menu3.match %>" >
								<p class="lin" ><%=menu3.name %></p>
							</a>
						</li>
						<% } %>
                    </ul>
                    <% } %>
                </dd>
				<% } %>
            </dl>
        </div>
        <div class="clear"></div>
    </div>    
	<% } %>
        
</div>

<!--左边菜单结束-->


<!--右边主页面-->
<div class="panel main">
    <div class="mainnr">
        <div class="d_position"><img src="<%=path_resbase %>images/wizhi.png"/>当前位置：<span class="frcenter_local" ><span class="yellow">简历管理</span> / <span class="yellow">简历管理</span></span></div>
        <div class="mainnrbj frcenter_main">
			
			
			
        </div>
    </div>
</div>
<!--右边主页面结束-->
